<div>
  <p>Ask your Coach anything:</p>
  <div class="d-flex">
    <form action="/answer" data-turbo="false" class="col-6">
      <div class="input-group mb-3">
        <input type="text" name="question" placeholder="type a question" class="form-control">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary input-group-append">Ask!</button>
        </div>
      </div>
    </form>
  </div>
</div>
